<div class="flex h-screen bg-[#f6f7fb]">

  <aside class="bg-white shadow-lg transition-all  duration-300" [ngClass]="sidebarOpen ? 'w-[265px]' : 'w-[72px]'">

    <div class="flex items-center gap-3 px-4 pt-2 pb-2">
      <img src="assets/images/macreel-infosoft-logo.png" alt="Macreel InfoSoft"
        class="w-10 h-10 object-contain rounded-xl" />

      <span *ngIf="sidebarOpen" class="text-xl font-bold whitespace-nowrap">
        Macreel InfoSoft
      </span>
    </div>

    <hr class="border-gray-200 mt-0">
    <nav class="mt-6 px-3 space-y-1 text-[#7E7E7E] text-[13px] font-medium whitespace-nowrap">
      <div>
        <div (click)="toggleMenu('dashboard')" class="group flex items-center justify-between p-3 rounded-lg cursor-pointer
             hover:bg-transparent">

          <div routerLink="/home/dashboard" class="flex items-center gap-3">
            <span class="group-hover:text-[#E6354B] transition">🏠</span>
            <span *ngIf="sidebarOpen" class="text-[#7E7E7E] group-hover:text-[#E6354B] transition">
              Dashboard
            </span>
          </div>
        </div>
      </div>

      <div (click)="toggleMenu('apps')" routerLink="/home/employee-task-sheet"
        class="group flex items-center justify-between p-3 rounded-lg cursor-pointer">

        <div class="flex items-center gap-3">
          <i class="fa-solid fa-building-user xicon text-[#E6354B]"></i>
          <span *ngIf="sidebarOpen" class="group-hover:text-[#E6354B] transition">
            Employee Task Sheet
          </span>
        </div>
      </div>

      <!-- Department Management -->
      <div>
        <div (click)="toggleMenu('charts')"
          class="group flex items-center justify-between p-3 rounded-lg cursor-pointer">
          <i class="nav-icon fas fa-id-card  text-[#E6354B]"></i>
          <div class="flex items-center gap-3">

            <span *ngIf="sidebarOpen" class="group-hover:text-[#E6354B] transition">
              Department Management
            </span>
          </div>

          <span *ngIf="sidebarOpen" class="font-bold text-lg transition-transform duration-300
               group-hover:text-[#E6354B]" [ngClass]="openMenu === 'charts' ? 'rotate-90' : 'rotate-0'">
            >
          </span>
        </div>

        <div routerLink="/home/add-department" *ngIf="openMenu === 'charts' && sidebarOpen"
          class="ml-10 mt-1 space-y-1 text-sm">
          <a class="block p-2 rounded cursor-pointer hover:text-[#E6354B] transition">Add Department</a>

        </div>
      </div>

      <!-- PLUGINS -->
      <div>
        <div (click)="toggleMenu('plugins')"
          class="group flex items-center justify-between p-3 rounded-lg cursor-pointer">

          <div class="flex items-center gap-3">
            <span class="group-hover:text-[#E6354B] transition">🔌</span>
            <span *ngIf="sidebarOpen" class="group-hover:text-[#E6354B] transition">
              Plugins
            </span>
          </div>

          <span *ngIf="sidebarOpen" class="font-bold text-lg transition-transform duration-300
               group-hover:text-[#E6354B]" [ngClass]="openMenu === 'plugins' ? 'rotate-90' : 'rotate-0'">
            >
          </span>
        </div>

        <div *ngIf="openMenu === 'plugins' && sidebarOpen" class="ml-10 mt-1 space-y-1 text-sm">
          <a class="block p-2 rounded cursor-pointer hover:text-[#E6354B] transition">Forms</a>
          <a class="block p-2 rounded cursor-pointer hover:text-[#E6354B] transition">Tables</a>
        </div>
      </div>

    </nav>

  </aside>

  <!-- MAIN CONTENT -->
  <div class="flex-1 flex flex-col">

    <!-- NAVBAR -->
    <header class="bg-white shadow-sm px-2 py-1 flex items-center justify-between">
      <div class="flex items-center gap-4">
        <button (click)="toggleSidebar()" class="text-2xl text-[#E6354B] px-3 py-2 rounded-lg ">
          ☰
        </button>

        <h1 class="text-xl font-semibold">Dashboard</h1>
      </div>

      <div class="flex items-center gap-4">

        <!-- SEARCH BOX -->
        <div class="relative">
          <input type="text" placeholder="Search here" class="w-56 pl-10 pr-4 py-2 rounded-xl
             bg-[#F6F7FB] text-sm outline-none
             focus:ring-2 focus:ring-[#E6354B]" />

          <!-- Search Icon -->
          <span class="absolute left-3 top-1/2 -translate-y-1/2
             text-gray-400">
            🔍
          </span>
        </div>

        <!-- NOTIFICATION -->
        <div class="relative w-10 h-10 flex items-center justify-center
           rounded-xl bg-[#FDECEA] cursor-pointer
           hover:bg-[#E6354B] transition">

          🔔
          <span class="absolute top-1 right-1 w-2.5 h-2.5
             bg-[#E6354B] rounded-full">
          </span>
        </div>

        <!-- MESSAGE -->
        <div class="relative w-10 h-10 flex items-center justify-center
           rounded-xl bg-[#FDECEA] cursor-pointer
           hover:bg-[#E6354B] transition">

          💬
          <span class="absolute top-1 right-1 w-2.5 h-2.5
             bg-[#E6354B] rounded-full">
          </span>
        </div>

        <!-- PROFILE -->
        <div class="w-10 h-10 rounded-full overflow-hidden cursor-pointer">
          <img src="https://i.pravatar.cc/40" alt="Profile" class="w-full h-full object-cover" />
        </div>

      </div>

    </header>

    <main class="flex-1 overflow-auto bg-[#f6f7fb]">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>