<div class="max-w-full mx-auto bg-gray-100 p-4">

  <form [formGroup]="employeeForm">
    <!-- STEP 1 -->
    <div *ngIf="step === 1" class="bg-white p-6 rounded-lg shadow">
      <div class="bg-[#C5192F] px-6 py-2 text-white text-lg font-semibold shadow-md rounded-t-md 
                flex items-center justify-between">
        <span>Employee Register</span>

        <!--Send Link Button-->
        <button type="button" (click)="openModal()" class="bg-white text-[#C5192F] px-4 py-1.5 rounded-md
           border border-[#C5192F]
           hover:bg-white hover:text-[#C5192F]
           transition text-[14px]" *ngIf="!showSendLinkButton">
          Send Link
        </button>

      </div>



      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-5">
        <!-- Employee Role -->
        <div class="relative">
          <select formControlName="empRoleId" name="empRoleId"
            class="peer w-full appearance-none rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700 focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">
            <option disabled hidden>Select Role</option>

            <option *ngFor="let role of roles" [value]="role.id">{{ role.rolename }}</option>
          </select>
          <label
            class="absolute left-3 top-3 text-sm text-gray-500 bg-white px-1 transition-all peer-focus:-top-2 peer-focus:text-xs peer-focus:text-[#C5192F] peer-valid:-top-2 peer-valid:text-xs">
            Employee Role <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
          <span class="absolute right-3 top-3 text-gray-400"><i class="fa-solid fa-angle-down"></i></span>
        </div>

        <!-- Employee Code -->
        <div class="relative">
          <input type="number" formControlName="empCode" name="empCode" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs ">
            Employee Code <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
        </div>

        <!-- Employee Name -->
        <div class="relative">
          <input type="text" formControlName="empName" name="empName" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Employee Name <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
        </div>

        <!-- Mobile Number -->
        <div class="relative">
          <input type="text" formControlName="mobile" name="mobile" placeholder=" " maxlength="10" inputmode="numeric"
            class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Mobile Number <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>

          <!-- 🔴 ERROR MESSAGE -->
          <p *ngIf="employeeForm.get('mobile')?.touched &&
           employeeForm.get('mobile')?.invalid" class="text-xs text-red-600 mt-1">

            <span *ngIf="employeeForm.get('mobile')?.errors?.['required']">
              Mobile number is required
            </span>

            <span *ngIf="employeeForm.get('mobile')?.errors?.['pattern']">
              Enter valid 10 digit mobile number
            </span>
          </p>

        </div>

        <!-- Department -->
        <div class="relative">
          <select formControlName="departmentId" name="departmentId"
            class="peer w-full appearance-none rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700 focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">

            <!-- placeholder -->
            <option value="" disabled hidden></option>

            <option *ngFor="let dept of departments" [value]="dept.id">
              {{ dept.departmentName }}
            </option>
          </select>

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Department <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>

          <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
              class="fa-solid fa-angle-down"></i></span>
        </div>



        <!-- Designation -->
        <div class="relative">
          <select formControlName="designationId" name="designationId" class="peer w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700 bg-white
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">

            <!-- placeholder -->
            <option value="" disabled hidden></option>

            <option *ngFor="let d of designations" [value]="d.id">
              {{ d.designationName }}
            </option>
          </select>

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Designation <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>

          <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
              class="fa-solid fa-angle-down"></i></span>
        </div>


        <!-- Reporting Manager -->

        <div class="relative">
          <select formControlName="reportingManagerId" name="reportingManagerId" class="peer w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700 bg-white
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">

            <option [value]="0">Admin</option>
            <option *ngFor="let manager of reportingManagers" [value]="manager.id">
              {{ manager.reportingManagerName }}
            </option>

          </select>

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Reporting Manager
          </label>
          <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
              class="fa-solid fa-angle-down"></i></span>
        </div>

        <!-- Email ID -->
        <div class="relative">
          <input type="email" formControlName="emailId" name="emailId" autocomplete="off" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none"
            [readonly]="isEditMode || showSendLinkButton" />

          <label class="absolute left-3 top-[-10px] text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Email ID <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>


        <!-- Salary -->
        <div class="relative">
          <input type="number" formControlName="salary" name="salary" placeholder=" " min="0" class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Salary <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>

        <!-- Date of Joining -->
        <div class="relative">
          <input type="date" formControlName="dateOfJoining" name="dateOfJoining" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Date of Joining <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
        </div>


        <!-- DOB -->
        <div class="relative">
          <input type="date" formControlName="dob" name="dob" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            DOB <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
        </div>

        <!-- Password -->
        <div class="relative">
          <input [type]="showPassword ? 'text' : 'password'" formControlName="password" name="user_password"
            autocomplete="new-password" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 pr-10 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" [readonly]="isEditMode" />

          <!-- Floating Label -->
          <label class="absolute left-3 top-[-10px] text-sm text-gray-500 bg-white px-1 transition-all
  peer-focus:-top-2 peer-focus:text-xs
  peer-valid:-top-2 peer-valid:text-xs">
            Password <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>


          <!-- Eye Button -->
          <button type="button" (click)="togglePassword()" class="absolute right-3 top-1/2 -translate-y-1/2 text-gray-500
           hover:text-gray-700 focus:outline-none">
            <!-- Eye Open -->
            <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
              viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5
               c4.478 0 8.268 2.943 9.542 7
               -1.274 4.057-5.064 7-9.542 7
               -4.477 0-8.268-2.943-9.542-7z" />
            </svg>

            <!-- Eye Closed -->
            <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
              stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19
               c-4.478 0-8.268-2.943-9.542-7
               a9.956 9.956 0 012.152-3.362M6.223 6.223
               A9.956 9.956 0 0112 5
               c4.478 0 8.268 2.943 9.542 7
               a9.978 9.978 0 01-4.043 5.135M15 12
               a3 3 0 00-3-3M3 3l18 18" />
            </svg>
          </button>
        </div>

        <!-- Gender -->
        <div class="relative">
          <select formControlName="gender" name="gender" class="peer w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700 bg-white
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">

            <!-- placeholder -->
            <option value="" disabled hidden></option>

            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Gender <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>

          <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
              class="fa-solid fa-angle-down"></i></span>
        </div>


        <!-- Nationality -->
        <div class="relative">
          <input type="text" formControlName="nationality" name="nationality" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Nationality <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>


        <!-- Marital Status -->
        <div class="relative">
          <select formControlName="maritalStatus" name="maritalStatus" class="peer w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700 bg-white
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">

            <!-- placeholder -->
            <option value="" disabled hidden></option>

            <option value="Married">Married</option>
            <option value="Unmarried">Unmarried</option>
            <option value="Divorced">Divorced</option>
            <option value="Widowed">Widowed</option>
          </select>

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Marital Status <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>

          <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
              class="fa-solid fa-angle-down"></i></span>
        </div>


        <!-- Present Address -->
        <div class="relative col-span-1">
          <textarea rows="1" formControlName="presentAddress" name="presentAddress" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none resize-none">
  </textarea>

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
         peer-focus:-top-2 peer-focus:text-xs
         peer-valid:-top-2 peer-valid:text-xs">
            Present Address <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>



        <!-- STATE -->
        <div class="relative">
          <select formControlName="stateId" (change)="onStateChange($event)" name="stateId" class="peer w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700 bg-white
    focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">
            <option value="" disabled hidden></option>
            <option *ngFor="let state of states" [value]="state.stateId">{{ state.stateName }}</option>
          </select>
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
       peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            State <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
          <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
              class="fa-solid fa-angle-down"></i></span>
        </div>

        <!-- CITY -->
        <div class="relative">
          <select formControlName="cityId" name="cityId" class="peer w-full appearance-none rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700 bg-white
    focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">
            <option value="" disabled hidden></option>
            <option *ngFor="let city of cities" [value]="city.cityId">{{ city.cityName }}</option>
          </select>
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
       peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            City <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
          <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
              class="fa-solid fa-angle-down"></i></span>
        </div>

        <!-- Pin code -->
        <div class="relative">
          <input type="text" formControlName="pincode" name="pincode" placeholder=" " maxlength="6" class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Pin code <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>

        <!-- Bank Name -->
        <div class="relative">
          <input type="text" formControlName="bankName" name="bankName" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Bank Name <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>

        <!-- Account Number -->
        <div class="relative">
          <input type="number" formControlName="accountNo" name="accountNo" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Account Number <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>


        <!-- IFSC Code -->
        <div class="relative">
          <input type="text" formControlName="ifscCode" name="ifscCode" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            IFSC Code <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>


        <!-- Bank Branch -->
        <div class="relative">
          <input type="text" formControlName="bankBranch" name="bankBranch" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Bank Branch <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>

        <!-- Emergency Contact Name -->
        <div class="relative">
          <input type="text" formControlName="emergencyContactPersonName" name="emergencyContactPersonName"
            placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Emergency Contact Name <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>
        </div>

        <!-- Emergency Contact Number (FIXED) -->
        <div class="relative">
          <input type="text" formControlName="emergencyContactNum" name="emergencyContactNum" placeholder=" "
            maxlength="10" inputmode="numeric" class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none mt-6" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs mt-6">
            Emergency Contact Number
            <span class="text-red-500 text-[14px] font-medium">*</span>
          </label>

          <p *ngIf="employeeForm.get('emergencyContactNum')?.touched &&
           employeeForm.get('emergencyContactNum')?.invalid" class="text-xs text-red-600 mt-1">

            <span *ngIf="employeeForm.get('emergencyContactNum')?.errors?.['required']">
              Emergency contact number is required
            </span>

            <span *ngIf="employeeForm.get('emergencyContactNum')?.errors?.['pattern']">
              Enter valid 10 digit number
            </span>
          </p>

        </div>

        <!-- Profile Image -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">Profile Image <span
              class="text-red-500 text-[14px] font-medium">*</span></label>
          <input type="file" (change)="onFileSelected($event, 'profile')" accept=".jpg,.jpeg,.png"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526] cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>


        <!-- Aadhar Image -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">Aadhar Image <span
              class="text-red-500 text-[14px] font-medium">*</span></label>
          <input type="file" (change)="onFileSelected($event, 'aadhar')" accept=".jpg,.jpeg,.png"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526] cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>

        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">
            Aadhar Back Image <span class="text-red-500">*</span>
          </label>
          <input type="file" (change)="onFileSelected($event, 'aadharBack')" accept=".jpg,.jpeg,.png" class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3
           file:border-0 file:bg-[#C5192F] file:text-white rounded-md border" />
        </div>


        <!-- PAN Image -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">PAN Image <span
              class="text-red-500 text-[14px] font-medium">*</span></label>
          <input type="file" (change)="onFileSelected($event, 'pan')" accept=".jpg,.jpeg,.png"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526] cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>

        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">
            PAN Back Image <span class="text-red-500">*</span>
          </label>
          <input type="file" (change)="onFileSelected($event, 'panBack')" accept=".jpg,.jpeg,.png" class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3
           file:border-0 file:bg-[#C5192F] file:text-white rounded-md border" />
        </div>


        <div *ngIf="showTechnologySection"
          class="relative  flex items-center w-full min-h-[48px] multiple-select-div mt-6">
          <mat-label class="tech-label">Technology</mat-label>
          <mat-form-field floatLabel="always" class="w-full d-flex !p-0 !m-0
           [&_.mat-form-field-outline]:!text-gray-300 ">
            <mat-chip-grid #chipGrid aria-label="Technology selection" class="">
              <mat-chip-row *ngFor="let tech of selectedTechnologies" (removed)="removeTechnology(tech)"
                class="!bg-gray-100 !border !border-gray-300 !text-gray-700">

                {{ tech.technologyName }}

                <button matChipRemove>
                  <i class="fa-solid fa-close text-[10px]"></i>
                </button>
              </mat-chip-row>
              <input placeholder="Select technology..." [formControl]="technologyCtrl" [matChipInputFor]="chipGrid"
                [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                class="!px-3 !py-2 !text-sm" />
            </mat-chip-grid>


            <mat-autocomplete #auto="matAutocomplete" class="text-[12px]" panelClass="tech-dropdown-panel"
              (optionSelected)="onTechnologySelected($event)">
              <mat-option *ngFor="let tech of technologies" [value]="tech.id">
                {{ tech.technologyName }}
              </mat-option>
            </mat-autocomplete>

          </mat-form-field>
        </div>
      </div>


      <div class="flex justify-end mt-6">
        <button type="button" (click)="nextStep()"
          class="bg-[#C5192F] text-white font-semibold px-6 py-2.5 rounded-md shadow-md hover:bg-[#a41526] transition focus:outline-none focus:ring-2 focus:ring-[#C5192F]/50">
          Next
        </button>
      </div>
    </div>

    <!-- STEP 2 -->
    <div *ngIf="step === 2" class="bg-white p-6 rounded-lg shadow">
      <!-- PREVIOUS TRAINING -->
      <h3 class="text-lg font-semibold border-b pb-2 mb-4">Previous Training</h3>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- Company Name -->
        <div class="relative">
          <input type="text" formControlName="companyName" name="companyName" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Company Name
          </label>
        </div>

        <!-- Year of Experience -->
        <div class="relative">
          <input type="number" formControlName="yearOfExperience" name="yearOfExperience" placeholder=" " min="0" class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Year of Experience
          </label>
        </div>

        <!-- Technology -->
        <div class="relative">
          <textarea rows="1" formControlName="technology" name="technology" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none"></textarea>

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Technology
          </label>
        </div>

        <!-- Company Contact -->
        <div class="relative">
          <input type="text" formControlName="companyContactNo" name="companyContactNo" maxlength="10"
            inputmode="numeric" placeholder="" class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
           focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />

          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
           peer-focus:-top-2 peer-focus:text-xs
           peer-valid:-top-2 peer-valid:text-xs">
            Company Contact
          </label>

          <p *ngIf="employeeForm.get('companyContactNo')?.touched &&
           employeeForm.get('companyContactNo')?.invalid" class="text-xs text-red-600 mt-1">

            <span *ngIf="employeeForm.get('companyContactNo')?.errors?.['required']">
              Company contact number is required
            </span>

            <span *ngIf="employeeForm.get('companyContactNo')?.errors?.['pattern']">
              Enter valid 10 digit number
            </span>
          </p>
        </div>


        <!-- Experience Certificate -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">Experience Certificate</label>
          <input type="file" (change)="onFileSelected($event, 'experience')" accept=".pdf,.jpg,.jpeg,.png"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526] cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>
      </div>

      <!-- EDUCATION DETAILS -->
      <h3 class="text-lg font-semibold border-b pb-2 mt-6 mb-4">Education Details</h3>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- 10th Marksheet -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">10th Marksheet</label>
          <input type="file" (change)="onFileSelected($event, 'tenth')" accept=".pdf,.jpg,.jpeg,.png"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526] cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>

        <!-- 12th Marksheet -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">12th Marksheet</label>
          <input type="file" (change)="onFileSelected($event, 'twelth')" accept=".pdf,.jpg,.jpeg,.png"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526] cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>

        <!-- Graduation Document -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">Graduation Document</label>
          <input type="file" (change)="onFileSelected($event, 'graduation')" accept=".pdf,.jpg,.jpeg,.png"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526] cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>

        <!-- Master Document -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">Master Document</label>
          <input type="file" (change)="onFileSelected($event, 'masters')" accept=".pdf,.jpg,.jpeg,.png"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526] cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>
      </div>

      <!-- STEP 2 NAVIGATION -->
      <div class="flex justify-between mt-6">
        <button type="button" (click)="prevStep()"
          class="bg-gray-400 text-white px-4 py-2 rounded-md hover:bg-gray-500 transition">
          Previous
        </button>
        <button type="button" (click)="onSubmit()" [disabled]="isLoading"
          class="bg-green-600 text-white px-4 py-2 rounded-md hover:bg-green-700 transition disabled:opacity-50">
          <!-- {{ isLoading ? 'Submitting...' : 'Submit' }} -->
          {{ isEditMode ? 'Update' : 'Submit' }}
        </button>
      </div>
    </div>

  </form>
</div>

<!--Modal for send link for registration-->

<div *ngIf="isModalOpen" class="fixed inset-0 bg-black/50 flex justify-center items-start
            z-50 px-3 pt-24">

  <div class="bg-white w-full max-w-md rounded-xl shadow-xl">

    <!-- Header -->
    <div class="bg-[#C5192F] text-white px-5 py-3
                rounded-t-xl flex justify-between items-center">
      <h2 class="text-[15px] font-semibold">
        Send Link for Registration
      </h2>

      <button (click)="closeModal()" class="text-white text-xl leading-none hover:opacity-80">
        &times;
      </button>
    </div>

    <!-- Body -->
    <form [formGroup]="sendLinkForm" (ngSubmit)="sendRegistrationLink()" class="p-6 space-y-4">

      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Email Address
        </label>

        <input type="email" formControlName="email" [readonly]="isEditMode" placeholder="Enter email" class="w-full border rounded-md px-3 py-2.5 text-sm
                 focus:outline-none focus:ring-2 focus:ring-[#C5192F]" />

        <!-- Validation -->
        <p *ngIf="sendLinkForm.get('email')?.touched &&
                  sendLinkForm.get('email')?.invalid" class="text-xs text-red-600 mt-1">

          <span *ngIf="sendLinkForm.get('email')?.errors?.['required']">
            Email is required
          </span>

          <span *ngIf="sendLinkForm.get('email')?.errors?.['email']">
            Enter a valid email
          </span>
        </p>
      </div>

      <!-- Button -->
      <div class="flex justify-center">
        <button type="submit" [disabled]="isSendingLink" class="bg-[#C5192F] text-white px-5 py-1.5 text-sm font-medium
                 rounded-md hover:bg-red-700 transition
                 disabled:opacity-60">
          {{ isSendingLink ? 'Sending...' : 'Send' }}
        </button>
      </div>

    </form>
  </div>
</div>