<div class="max-w-7xl mx-auto bg-gray-100 p-4">
  <form [formGroup]="projectForm">
    <div class="bg-white p-6 rounded-lg shadow">

      <!-- HEADER -->
      <div class="bg-[#C5192F] px-6 py-2 text-white text-lg font-semibold shadow-md rounded-t-md">
        Add Project
      </div>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mt-5">

        <!-- CATEGORY -->
        <div class="relative">
          <select formControlName="category" class="peer w-full appearance-none rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
                  focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">
            <option value="" disabled hidden>Select Category</option>
            <option value="Software">Software</option>
            <option value="Website">Website</option>
            <option value="Digital Marketing">Digital Marketing</option>
          </select>
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                        peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            Project Category <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
          <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
              class="fa-solid fa-angle-down"></i></span>
        </div>

        <!-- PROJECT TITLE -->
        <div class="relative">
          <input type="text" formControlName="projectTitle" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
                  focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                        peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            Project Title <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
        </div>

        <!-- DESCRIPTION -->
        <div class="relative col-span-2">
          <textarea rows="1" formControlName="description" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
                  focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none resize-none"></textarea>
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                        peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            Description
          </label>
        </div>

        <!-- DATES -->
        <div class="relative">
          <input type="date" formControlName="startDate" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
                  focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                        peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            Start Date <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
        </div>

        <div class="relative">
          <input type="date" formControlName="assignDate" [min]="minAssignDate" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
                  focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                        peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            Assign Date <span class="text-red-500 text-[16px] font-medium">*</span>
          </label>
        </div>

        <div class="relative">
          <input type="date" formControlName="endDate" [min]="minEndDate" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
                  focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                        peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            End Date
          </label>
        </div>

        <div class="relative">
          <input type="date" formControlName="completionDate" [min]="minCompletionDate" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-4 py-2 text-sm text-gray-700
                  focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
          <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                        peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
            Completion Date
          </label>
        </div>

        <!-- SOW DOCUMENT -->
        <div class="relative">
          <label class="block text-sm font-medium text-gray-500 mb-1">SOW Document <span
              class="text-red-500 text-[16px] font-medium">*</span></label>
          <input #sopFile type="file" (change)="onSopFileChange($event)"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm
                  file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526]
                  cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>

        <!-- TECHNICAL DOCUMENT -->
        <div class="relative" *ngIf="category !== 'Digital Marketing'">
          <label class="block text-sm font-medium text-gray-500 mb-1">Technical Document</label>
          <input #technicalFile type="file" (change)="onTechnicalFileChange($event)"
            class="w-full text-sm text-gray-700 file:mr-4 file:py-2 file:px-3 file:border-0 file:text-sm
                  file:font-semibold file:bg-[#C5192F] file:text-white hover:file:bg-[#a41526]
                  cursor-pointer border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#C5192F]/30" />
        </div>
      </div> <!-- END GRID -->

      <!-- ================== Software SECTION ================== -->
      <div class="mt-6 border-t pt-4">
        <div class="mt-2 mb-4">
          <h4 class="font-semibold mb-2" *ngIf="category === 'Software' || category === 'Website'">
            Software Type
          </h4>
          <div class="flex gap-6">
            <label class="flex items-center gap-2" *ngIf="category === 'Software'">

              <input type="checkbox" formControlName="isMobileSoftware" (change)="clearSoftwareTypeError()" /> App
            </label>
            <label class="flex items-center gap-2" *ngIf="category === 'Software' || category === 'Website'">

              <input type="checkbox" formControlName="isWebSoftware" (change)="clearSoftwareTypeError()" /> Web
            </label>
          </div>
          <p *ngIf="showSoftwareTypeError" class="text-red-600 text-sm mt-1">
            Please select at least one: App or Web
          </p>

        </div>

        <!-- MOBILE SECTION -->
        <div *ngIf="isMobileSoftware  && category === 'Software'" class="mt-4">
          <h4 class="font-semibold mb-2">Mobile App Type</h4>
          <div class="flex gap-4">
            <label class="flex items-center gap-2">
              <input type="checkbox" formControlName="isAndroid" (change)="clearFieldError('mobilePlatform')" /> Android
            </label>
            <label class="flex items-center gap-2">
              <input type="checkbox" formControlName="isIOS" (change)="clearFieldError('mobilePlatform')" /> iOS
            </label>
          </div>
          <p *ngIf="showMobilePlatformError" class="text-red-600 text-sm mt-1">
            Please select at least one: Android or iOS
          </p>

          <div class="relative mt-3" *ngIf="isAndroid || isIOS">
            <select formControlName="mobileSkill" (change)="clearFieldError('mobileSkill')" class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
                 focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">
              <option value="">Select Mobile Skill</option>
              <option *ngFor="let skill of mobileSkills" [ngValue]="skill.id">{{ skill.technologyName }}</option>
            </select>
            <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
              Select Mobile Skill
            </label>
            <p *ngIf="showMobileSkillError" class="text-red-600 text-sm mt-1">
              Mobile skill is required
            </p>
            <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
                class="fa-solid fa-angle-down"></i></span>
          </div>

          <div class="relative mt-3" *ngIf="(isAndroid || isIOS) && filteredMobileEmployees.length">
            <select formControlName="mobileEmpId" (change)="onSelectMobileEmployee(); clearFieldError('mobileEmp')"
              class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
        focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">
              <option value="">Select Mobile Employee</option>
              <option *ngFor="let emp of filteredMobileEmployees" [value]="emp.empId">{{ emp.empName }}</option>
            </select>
            <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
              Select Employee
            </label>
            <p *ngIf="showMobileEmpError" class="text-red-600 text-sm mt-1">
              Please select mobile employee
            </p>
            <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
                class="fa-solid fa-angle-down"></i></span>
          </div>
        </div>

        <!-- WEB SECTION -->
        <div *ngIf="isWebSoftware" class="mt-4">
          <h4 class="font-semibold mb-2">Web Details</h4>
          <div class="relative mt-3">
            <select formControlName="webSkill" (change)="clearFieldError('webSkill')" class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
                 focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">
              <option value="">Select Web skill</option>
              <option *ngFor="let skill of webSkills" [ngValue]="skill.id">{{ skill.technologyName }}</option>
            </select>
            <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
              Select Web Skill
            </label>
            <p *ngIf="showWebSkillError" class="text-red-600 text-sm mt-1">
              Web skill is required
            </p>
            <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
                class="fa-solid fa-angle-down"></i></span>
          </div>

          <div class="relative mt-3" *ngIf="filteredWebEmployees.length">
            <select formControlName="webEmpId" (change)="onSelectWebEmployee(); clearFieldError('webEmp')"
              class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
                 focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none">
              <option value="">Select Web Employee</option>
              <option *ngFor="let emp of filteredWebEmployees" [value]="emp.empId">{{ emp.empName }}</option>
            </select>
            <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">

            </label>
            <p *ngIf="showWebEmpError" class="text-red-600 text-sm mt-1">
              Please select web employee
            </p>

            <span class="absolute right-3 top-2 text-gray-400 pointer-events-none"><i
                class="fa-solid fa-angle-down"></i></span>
          </div>
        </div>
      </div> <!-- END Software -->

      <!-- ================== Digital Marketing SECTION ================== -->
      <div *ngIf="category === 'Digital Marketing'" class="mt-6 border-t pt-4 bg-white p-4 rounded-lg shadow">
        <h3 class="text-lg font-semibold mb-4 text-gray-700">Digital Marketing Details</h3>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">

          <!-- SEO -->
          <div class="relative">
            <input type="text" formControlName="SEO" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
                    focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
            <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                    peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
              SEO
            </label>
          </div>

          <!-- SMO -->
          <div class="relative">
            <input type="text" formControlName="SMO" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
                    focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
            <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                    peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
              SMO
            </label>
          </div>

          <!-- GMB -->
          <div class="relative">
            <input type="text" formControlName="GMB" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
                    focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
            <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                    peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
              GMB
            </label>
          </div>

          <!-- Paid Ads -->
          <div class="relative">
            <input type="text" formControlName="paidAds" placeholder=" " class="peer w-full rounded-md border border-gray-300 px-3 py-2 text-sm text-gray-700
                    focus:border-[#C5192F] focus:ring-2 focus:ring-[#C5192F]/30 outline-none" />
            <label class="absolute left-3 top-2 text-sm text-gray-500 bg-white px-1 transition-all
                    peer-focus:-top-2 peer-focus:text-xs peer-valid:-top-2 peer-valid:text-xs">
              Paid Ads
            </label>
          </div>
        </div>
      </div>

      <!-- ================== SELECTED EMPLOYEE PROJECT CARDS ================== -->
      <div *ngIf="selectedEmployeeProjects.length" class="mt-6">

        <h3 class="text-lg font-semibold mb-4 text-gray-700">
          Ongoing Employee Projects
        </h3>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

          <div *ngFor="let p of selectedEmployeeProjects"
            class="bg-white rounded-xl shadow-md border hover:shadow-lg transition">

            <!-- CARD HEADER -->
            <div class="bg-[#C5192F] text-white px-4 py-2 rounded-t-xl">
              <h4 class="font-semibold truncate">{{ p.projectTitle }}</h4>
            </div>

            <!-- CARD BODY -->
            <div class="p-4 space-y-2 text-sm text-gray-700">

              <div class="flex justify-between">
                <span class="font-medium">App Employee:</span>
                <span>{{ p.appEmpName || '—' }}</span>
              </div>

              <div class="flex justify-between">
                <span class="font-medium">App Technology Name:</span>
                <span>{{ p.appTechnologyName || '—' }}</span>
              </div>



              <div class="flex justify-between">
                <span class="font-medium">Web Employee:</span>
                <span>{{ p.webEmpName || '—' }}</span>
              </div>

              <div class="flex justify-between">
                <span class="font-medium">Web Technology Name:</span>
                <span>{{ p.webTechnologyName || '—' }}</span>
              </div>

              <div class="flex justify-between">
                <span class="font-medium">Assign Date:</span>
                <span>{{ p.assignDate | date:'dd MMM yyyy' }}</span>
              </div>

              <div class="flex justify-between">
                <span class="font-medium">completion Date:</span>
                <span>{{ p.completionDate | date:'dd MMM yyyy' }}</span>
              </div>
            </div>

            <!-- CARD FOOTER -->
            <!-- <div class="bg-gray-50 px-4 py-2 rounded-b-xl text-xs text-gray-500 flex justify-between">
              <span>Status</span>
              <span class="text-green-600 font-semibold">Active</span>
            </div> -->
          </div>
        </div>
      </div>

      <!-- SUBMIT BUTTON -->
      <div class="flex justify-end mt-6">
        <button type="button" (click)="submitProject()"
          class="bg-green-600 text-white font-semibold px-6 py-2.5 rounded-md shadow-md hover:bg-green-700 transition">
          Submit Project
        </button>
      </div>
    </div> <!-- END MAIN CARD -->
  </form>
</div>