<div class="p-5 bg-gray-50 rounded-xl shadow-sm max-w-7xl mx-auto space-y-6">

  <!-- PROFILE HEADER -->
  <div class="flex justify-between items-center mb-6 border-b pb-3">
    <div class="flex items-center gap-4">
      <img
        [src]="employee.profilePicPath 
          ? pdfBaseUrl + employee.profilePicPath 
          : 'https://static.vecteezy.com/system/resources/previews/027/951/137/non_2x/stylish-spectacles-guy-3d-avatar-character-illustrations-png.png'"
        class="w-16 h-16 rounded-full object-cover border-2 border-gray-300 shadow-sm" />
      <div>
        <h1 class="text-xl font-bold text-gray-600">{{ employee.empName || '—' }}</h1>
        <p class="text-gray-400">{{ employee.designationName || '—' }} | {{ employee.departmentName || '—' }}</p>
      </div>
    </div>
    <span class="inline-flex items-center gap-1 px-3 py-1 text-xs font-semibold rounded-full
                 bg-green-100 text-green-700 border border-green-200">
      <i class="fa-solid fa-circle-check"></i>
      Active
    </span>
  </div>

  <!-- PERSONAL & PROFESSIONAL DETAILS -->
  <div class="bg-white border border-gray-200 rounded-xl p-5 shadow-sm">
    <h2 class="text-xl text-gray-900 font-semibold mb-4 flex items-center gap-2">
      <i class="fa-solid fa-id-card text-blue-500"></i> Personal & Professional
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <ng-container *ngFor="let item of [
        {icon:'fa-user', label:'Employee Code', value: employee.empCode},
        {icon:'fa-calendar', label:'Date of Birth', value: (employee.dob | date)},
        {icon:'fa-phone', label:'Mobile', value: employee.mobile},
        {icon:'fa-envelope', label:'Email', value: employee.emailId},
        {icon:'fa-lock',label:'Password',value:employee.password},
        {icon:'fa-venus-mars', label:'Gender', value: employee.gender},
        {icon:'fa-house', label:'Address', value: employee.presentAddress},
        {icon:'fa-building', label:'Department', value: employee.departmentName},
        {icon:'fa-briefcase', label:'Designation', value: employee.designationName},
        {icon:'fa-calendar-check', label:'Joining Date', value: employee.dateOfJoining ? (employee.dateOfJoining | date) : '—'},
        {icon:'fa-money-bill-wave', label:'Salary', value: employee.salary ? (employee.salary | currency:'INR') : '—'},
        {icon:'fa-user-tie', label:'Reporting Manager', value: employee.reportingManagerId === 0 ?'Admin' : employee.reportingManagerName || '—'},
        {icon:'fa-briefcase', label:'Experience', value: employee.yearOfExperience ? (employee.yearOfExperience + ' yrs') : '—'}
      ]">
        <div class="flex items-center gap-3">
          <i class="fa-solid {{item.icon}} text-blue-400 mt-1 w-5"></i>
          <div>
            <p class="text-gray-400 text-xs">{{ item.label }}</p>
            <p class="font-medium text-gray-700">{{ item.value || '—' }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- BANK & IDENTITY -->
  <div class="bg-white border border-gray-200 rounded-xl p-5 shadow-sm">
    <h2 class="text-xl text-gray-900 font-semibold mb-4 flex items-center gap-2">
      <i class="fa-solid fa-university text-green-500"></i> Bank & Identity
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <ng-container *ngFor="let item of [
        {icon:'fa-building-columns', label:'Bank Name', value: employee.bankName},
        {icon:'fa-building-columns', label:'Branch Name', value: employee.bankBranch},
        {icon:'fa-credit-card', label:'Account No', value: employee.accountNo},
        {icon:'fa-credit-card', label:'IFSC', value: employee.ifscCode},
        {icon:'fa-id-card', label:'PAN', value: employee.panImgPath ? 'Available' : 'Not Available', link: employee.panImgPath},
        {icon:'fa-id-card', label:'PAN Back', value: employee.panBackImgPath ? 'Available' : 'Not Available', link: employee.panBackImgPath},
        {icon:'fa-address-card', label:'Aadhaar', value: employee.aadharImgPath ? 'Available' : 'Not Available', link: employee.aadharImgPath},
        {icon:'fa-address-card', label:'Aadhaar back', value: employee.aadharBackImgPath ? 'Available' : 'Not Available', link: employee.aadharBackImgPath}
      ]">
        <div class="flex items-center gap-3">
          <i class="fa-solid {{item.icon}} text-green-400 mt-1 w-5"></i>
          <div>
            <p class="text-gray-400 text-xs">{{ item.label }}</p>
            <p class="font-medium text-gray-700 inline-flex items-center gap-1">
              {{ item.value }}
              <a *ngIf="item.link" [href]="pdfBaseUrl+item.link" target="_blank"
                class="text-blue-600 hover:text-green-400 hover:bg-green-100 text-xs px-1 rounded">View</a>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- PREVIOUS EMPLOYMENT -->
  <div class="bg-white border border-gray-200 rounded-xl p-5 shadow-sm">
    <h2 class="text-xl text-gray-900 font-semibold mb-4 flex items-center gap-2">
      <i class="fa-solid fa-building text-indigo-500"></i> Previous Employment
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <ng-container *ngFor="let item of [
        {icon:'fa-building', label:'Company', value: employee.companyName},
        {icon:'fa-phone', label:'Contact No', value: employee.companyContactNo},
        {icon:'fa-id-card', label:'Experience Certificate', value: employee.experienceCertificatePath ? 'Available' : 'Not Available', link: employee.experienceCertificatePath}
      ]">
        <div class="flex items-start gap-3">
          <i class="fa-solid {{item.icon}} text-indigo-400 mt-1 w-5"></i>
          <div>
            <p class="text-gray-400 text-xs">{{ item.label }}</p>
            <p class="font-medium text-gray-700 inline-flex items-center gap-1">
              {{ item.value }}
              <a *ngIf="item.link" [href]="pdfBaseUrl+item.link" target="_blank"
                class="text-blue-600 hover:text-green-400 hover:bg-green-100 text-xs px-1 rounded">View</a>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- QUALIFICATIONS -->
  <div class="bg-white border border-gray-200 rounded-xl p-5 shadow-sm">
    <h2 class="text-xl text-gray-900 font-semibold mb-4 flex items-center gap-2">
      <i class="fa-solid fa-graduation-cap text-blue-500"></i> Qualifications
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <ng-container *ngFor="let item of [
        {icon:'fa-school', label:'10th', value: employee.tenthCertificatePath ? 'Available' : 'Not Available', link: employee.tenthCertificatePath},
        {icon:'fa-school', label:'12th', value: employee.twelthCertificatePath ? 'Available' : 'Not Available', link: employee.twelthCertificatePath},
        {icon:'fa-user-graduate', label:'Graduation', value: employee.graduationCertificatePath ? 'Available' : 'Not Available', link: employee.graduationCertificatePath},
        {icon:'fa-user-graduate', label:'Masters', value: employee.mastersCertificatePath ? 'Available' : 'Not Available', link: employee.mastersCertificatePath}
      ]">
        <div class="flex items-start gap-3">
          <i class="fa-solid {{item.icon}} text-yellow-500 mt-1 w-5"></i>
          <div>
            <p class="text-gray-400 text-xs">{{ item.label }} Certificate</p>
            <p class="font-medium text-gray-700 inline-flex items-center gap-1">
              {{ item.value }}
              <a *ngIf="item.link" [href]="pdfBaseUrl+item.link" target="_blank"
                class="text-blue-600 hover:text-green-400 hover:bg-green-100 text-xs px-1 rounded">View</a>
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- OTHER DETAILS -->
  <div class="bg-white border border-gray-200 rounded-xl p-5 shadow-sm">
    <h2 class="text-xl text-gray-900 font-semibold mb-4 flex items-center gap-2">
      <i class="fa-solid fa-info-circle text-indigo-500"></i> Other Details
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <ng-container *ngFor="let item of [
        {icon:'fa-flag', label:'Nationality', value: employee.nationality},
        {icon:'fa-user', label:'Emergency Contact Person', value: employee.emergencyContactPersonName},
        {icon:'fa-phone', label:'Emergency Contact No', value: employee.emergencyContactNum},
          { icon: 'fa-ring', label: 'Marital Status', value: employee.maritalStatus }

      ]">
        <div class="flex items-start gap-3">
          <i class="fa-solid {{item.icon}} text-indigo-400 mt-1 w-5"></i>
          <div>
            <p class="text-gray-400 text-xs">{{ item.label }}</p>
            <p class="font-medium text-gray-700">{{ item.value || '—' }}</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

</div>